#login-form {   
    width: 100%;
    max-width: 60rem;
}

.backgrounImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: linear-gradient(
        rgba(0,0,0,.3),rgba(0,0,0,.8)), 
        url(../../assets/images/bg_image.jpg) no-repeat fixed;
    background-size: cover;
}    